<div class="container">
    <table class="table table-sm table-bordered">
        <thead>
            <tr>
                <th>
                    गुठी प्रकार
                </th>
                <th>
                    छुट । जरिवाना
                </th>
                <th>
                    विवरण
                </th>
                <th>
                    प्रतिशत
                </th>
            </tr>
        </thead>
        <tbody>
            @for(item of discountData;track item){
                <tr>
                    <td>{{item.guthi_type_id}}</td>
                    <td>{{item.d_type==1?'छुट':'जरिवाना'}}</td>
                    <td>{{item.d_description}}</td>
                    <td>{{item.d_percent}}%</td>
            </tr>
            }            
        </tbody>

    </table>
</div>