/* styles.css or styles.scss */
@import '~@angular/material/prebuilt-themes/azure-blblue.css';
@import '~@angular/cdk/overlay-prebuilt.css';
html, body {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}