<div class="container">
  <div class="row">
    <mat-toolbar color="primary">
      <span class="text-primary text-center">{{aayekodata.title}}</span>
    </mat-toolbar>
  </div>
  <form [formGroup]="shrestaForm">
    <div class="row">
      <mat-form-field appearance="outline" class="col">
        <mat-label>गुठीको नाम</mat-label>
        <mat-select formControlName="guthi_id" required >
          <mat-option *ngFor="let item of guthis" [value]="item.id">
            {{item.guthi_name}}
          </mat-option>
        </mat-select>
          <mat-error *ngIf="shrestaForm.controls.guthi_id.touched && shrestaForm.controls.guthi_id.invalid">
          <span *ngIf="shrestaForm.controls.guthi_id.errors.required">यो क्षेत्र अनिवार्य छ!</span>
          <span *ngIf="shrestaForm.controls.guthi_id.errors.pattern">गलत डाटा!</span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline" class="col">
        <mat-label>गुठीको प्रकार</mat-label>
        <mat-select formControlName="guthi_type_id" required (selectionChange)="filterTenantTypes()">
          <mat-option *ngFor="let item of guthiTypes" [value]="item.id">
            {{item.guthi_type_name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="shrestaForm.controls.guthi_type_id.touched && shrestaForm.controls.guthi_type_id.invalid">
          <span *ngIf="shrestaForm.controls.guthi_type_id.errors.required">यो क्षेत्र अनिवार्य छ!</span>
          <span *ngIf="shrestaForm.controls.guthi_type_id.errors.pattern">गलत डाटा!</span>
        </mat-error>
      </mat-form-field>
    </div>
    
    <div class="row">
      <mat-form-field appearance="outline" class="col">
        <mat-label>जग्गाधनी / मोही</mat-label>
        <mat-select appearance="outline" formControlName="tenant_type_id" required>
          <mat-option *ngFor="let item of filteredtenantTypes" [value]="item.id">
            {{item.tenant_type_name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="shrestaForm.controls.tenant_type_id.touched && shrestaForm.controls.tenant_type_id.invalid">
          <span *ngIf="shrestaForm.controls.tenant_type_id.errors.required">यो क्षेत्र अनिवार्य छ!</span>
          <span *ngIf="shrestaForm.controls.tenant_type_id.errors.pattern">गलत डाटा!</span>
        </mat-error>
      </mat-form-field>
      </div>
      <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>जग्गाधनी/मोही नाम</mat-label>
        <input matInput placeholder="जग्गाधनी/मोही नाम" appearance="outline" formControlName="tenant_name" required>     
      <mat-error *ngIf="shrestaForm.controls.tenant_type_id.touched && shrestaForm.controls.tenant_type_id.invalid">
        <span *ngIf="shrestaForm.controls.tenant_type_id.errors.required">यो क्षेत्र अनिवार्य छ!</span>
        <span *ngIf="shrestaForm.controls.tenant_type_id.errors.pattern">गलत डाटा!</span>
      </mat-error>
 </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline" class="col">
        <mat-label>जग्गाधनी/मोही को ठेगाना</mat-label>
        <input matInput placeholder="जग्गाधनी/मोहीको ठेगाना" (keyup)="changeformat()" appearance="outline" formControlName="tenant_address"
          required>
        <mat-error *ngIf="shrestaForm.controls.tenant_address.touched && shrestaForm.controls.tenant_address.invalid">
          <span *ngIf="shrestaForm.controls.tenant_address.errors.required">यो क्षेत्र अनिवार्य छ!</span>
          <span *ngIf="shrestaForm.controls.tenant_address.errors.pattern">गलत डाटा!</span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>जग्गाधनी/मोही को सम्पर्क नं</mat-label>
        <input matInput placeholder="जग्गाधनी/मोहीको सम्पर्क नं" appearance="outline" formControlName="tenant_mobile_no"
          required>
        <mat-error
          *ngIf="shrestaForm.controls.tenant_mobile_no.touched && shrestaForm.controls.tenant_mobile_no.invalid">
          <span *ngIf="shrestaForm.controls.tenant_mobile_no.errors.required">यो क्षेत्र अनिवार्य छ!</span>
          <span *ngIf="shrestaForm.controls.tenant_mobile_no.errors.pattern">सही मोबाईल नं प्रविष्ट गर्नुहोस्!</span>
        </mat-error>
      </mat-form-field>    
</div>
<div class="row">
  <div class="col">
 <button class="mybtn" [disabled]="!(shrestaForm.valid && shrestaForm.dirty)" class="mybtn" mat-flat-button
      color="primary" (click)="onSubmit()" color="primary">सेभ गर्नुहोस्</button>
  </div>
  <div class="col">
 <button class="mybtn" mat-flat-button color="accent" mat-dialog-close="false">रद्द गर्नुहोस्</button>
  </div>
</div>
</form>
</div>