<div class="container">
    <mat-toolbar>
        <table class="table table-sm text-center">
            <tr>
                <td><a mat-flat-button class="mybtn" [routerLink]="['/dashboard/listshresta']">पछाडी जानुहोस्</a></td>
                <td><span>रसिद विवरणहरु</span></td>
                <td><button (click)="gen_invoice()" mat-flat-button class="mybtn">( + ) नयाँ रसिद बनाउनुहोस्</button>
                </td>
                <td></td>
            </tr>
        </table>
    </mat-toolbar>
    <table class="table table-sm table-stripped">
        <thead>
            <th>रसिद नं</th>
            <th>आ.व</th>
            <th>तिरो आ.व.</th>
            <th>अंग्रेजी मिति</th>
            <th>नेपाली मिति</th>
            <th>रसिद रकम</th>
            <th>छुट रकम</th>
            <th>जरिवाना रकम</th>
            <th>जम्मा रकम</th>
            <th>भुक्तानी</th>
            <th>प्रयोगकर्ता</th>
            <th>हेर्नुहोस्</th>
        </thead>
        <tbody>
            @for(item of invoiceData; track item){
            <tr>
                <td>{{item.invoice_no}}</td>
                <td>{{item.aaba_name}}</td>
                <td>{{item.tiro_aaba_name}}</td>
                <td>{{item.edate | date:'yyyy-MM-dd'}}</td>
                <td>{{item.ndate}}</td>
                <td>{{item.invoice_amount | number:'1.2-2'}}</td>
                <td>{{item.discount_amount | number:'1.2-2'}}</td>
                <td>{{item.fine_amount | number:'1.2-2'}}</td>
                <td>{{item.final_amount | number:'1.2-2'}}</td>
                <td>{{item.paid_status==1?'भएको':'नभएको'}}</td>
                <td>{{item.nepname}}</td>
                <td><button (click)="viewInvoiceDetails(item.id)" mat-icon-button><i class="fa fa-eye"
                            aria-hidden="true"></i> </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <div class="col-sm-6">
        <div class="row">
<div class="col">
            <h4>रसिद विवरणहरु</h4>
        </div>
        <div class="col">
            <button (click)="ShowOldTenderForm()" mat-flat-button class="btn btn-info">
                थप्नुहोस्
            </button>
        </div>
        </div>
        
        <table class="table table-sm table-stripped">
            <thead>
                <th>आ.व</th>
                <th>महिना</th>
                <th>नेपाली मिति</th>
                <th>अंग्रेजी मिति</th>
                <th>रसिद नं</th>                
                <th>जम्मा रकम</th>
                <th>कृयाकलाप</th>
            </thead>
            <tbody>
                @for(item of tenderData; track item){
                <tr>
                    <td>{{item.aaba_name}}</td>
                    <td>{{item.mon}}</td>
                    <td>{{item.ndate}}</td>
                    <td>{{item.edate}}</td>
                    <td>{{item.tender_no}}</td>                    
                    <td>{{item.amount | number:'1.2-2'}}</td>
                    <td><button (click)="showTenderForm(item)" mat-icon-button><i class="fa fa-eye" aria-hidden="true"></i></button></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>