<mat-card>
    <form [formGroup]="changePassForm" (ngSubmit)="submitForm()">

        <mat-card-header>
            <mat-toolbar>
                <h4>पासवर्ड परिवर्तन फाराम</h4>
            </mat-toolbar>
        </mat-card-header>
        <mat-card-content>
            <div class="container-fluid">
                <div class="row">
                    <mat-form-field appearance="outline">
                        <mat-label>पुरानो पासवर्ड</mat-label>
                        <input matInput placeholder="पासवर्ड" formControlName="old_password" required
                            [type]="passwordVisible ? 'text' : 'password'">
                        @if(passwordVisible){
                        <mat-icon class="eyeicon" (click)="changeEye()" matSuffix><i class="fa fa-eye"
                                aria-hidden="true"></i></mat-icon>
                        }
                        @else{
                        <mat-icon class="eyeicon" (click)="changeEye()" matSuffix><i class="fa fa-eye-slash"
                                aria-hidden="true"></i></mat-icon>
                        }

                        <mat-error
                            *ngIf="changePassForm.controls.old_password.touched && changePassForm.controls.old_password.invalid">
                            <span *ngIf="changePassForm.controls.old_password.errors.required">यो क्षेत्र अनिवार्य छ
                                ।</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field appearance="outline">
                        <mat-label>नयाँ पासवर्ड</mat-label>
                        <input matInput placeholder="पासवर्ड" formControlName="new_password" required
                            [type]="passwordVisible ? 'text' : 'password'">
                        @if(passwordVisible){
                        <mat-icon class="eyeicon" (click)="changeEye()" matSuffix><i class="fa fa-eye"
                                aria-hidden="true"></i></mat-icon>
                        }
                        @else{
                        <mat-icon class="eyeicon" (click)="changeEye()" matSuffix><i class="fa fa-eye-slash"
                                aria-hidden="true"></i></mat-icon>
                        }

                        <mat-error
                            *ngIf="changePassForm.controls.new_password.touched && changePassForm.controls.new_password.invalid">
                            <span *ngIf="changePassForm.controls.new_password.errors.required">यो क्षेत्र अनिवार्य छ।</span>
                            <span *ngIf="changePassForm.controls.new_password.errors.pattern">कृपया ८ अक्षरको कम्तिमा एउटा क्यापिटल र स्पेशल शव्द राख्नुहोस् ।</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field appearance="outline">
                        <mat-label>पुन नयाँ पासवर्ड</mat-label>
                        <input matInput placeholder="पासवर्ड" formControlName="c_new_password" required
                            [type]="passwordVisible ? 'text' : 'password'">
                        @if(passwordVisible){
                        <mat-icon class="eyeicon" (click)="changeEye()" matSuffix><i class="fa fa-eye"
                                aria-hidden="true"></i></mat-icon>
                        }
                        @else{
                        <mat-icon class="eyeicon" (click)="changeEye()" matSuffix><i class="fa fa-eye-slash"
                                aria-hidden="true"></i></mat-icon>
                        }

                        <mat-error
                            *ngIf="changePassForm.controls.c_new_password.touched && changePassForm.controls.c_new_password.invalid">
                            <span *ngIf="changePassForm.controls.c_new_password.errors.required">यो क्षेत्र अनिवार्य छ । </span>
                            <span *ngIf="changePassForm.controls.c_new_password.errors.pattern">कृपया ८ अक्षरको कम्तिमा एउटा क्यापिटल र स्पेशल शव्द राख्नुहोस् ।</span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div class="div-50">
                <button class="mybtn" [disabled]="!(changePassForm.valid && changePassForm.dirty)" mat-flat-button
                    color="warning">लगईन गर्नुहोस्</button>
            </div>
            <div class="div-50">
                <button class="mybtn" mat-flat-button color="info" mat-dialog-close>रद्द गर्नुहोस्</button>
            </div>
        </mat-card-actions>
    </form>
</mat-card>