mat-form-field {
    width: 30%;
    padding: 10px;
  }

  .div-100{
    width: 90%;
  }
  .div-50{
    width: 45%;
    padding: 10px;
  }

  .div-flex{
    display: flex;
  }
  .mybtn{
    width: 95%;
  }