<div class="container">
  <div class="row">
    <mat-toolbar>
      {{data.title}}
      <!-- {{data.shrestaid}}{{data.landid}} -->
    </mat-toolbar>
  </div>
<form [formGroup]="rateForm">
 <div class="row">
      <mat-form-field appearance="outline" class="col">
        <mat-label>शुरु आ.व.</mat-label>
        <mat-select formControlName="start_aaba_id">
          @for(item of aabas;track item)
          {
          <mat-option [value]=item.id>{{item.aaba_name}}</mat-option>
          }
        </mat-select>
        <mat-error *ngIf="rateForm.controls.start_aaba_id.touched && rateForm.controls.start_aaba_id.invalid">
          <span *ngIf="rateForm.controls.start_aaba_id.errors.required">यो क्षेत्र अनिवार्य छ!</span>
          <span *ngIf="rateForm.controls.start_aaba_id.errors.pattern">गलत डाटा!</span>
        </mat-error>
      </mat-form-field>
 <mat-form-field appearance="outline" class="col">
        <mat-label>शुरु आ.व.</mat-label>
        <mat-select formControlName="end_aaba_id">
          @for(item of aabas;track item)
          {
          <mat-option [value]=item.id>{{item.aaba_name}}</mat-option>
          }
        </mat-select>
        <mat-error *ngIf="rateForm.controls.end_aaba_id.touched && rateForm.controls.end_aaba_id.invalid">
          <span *ngIf="rateForm.controls.end_aaba_id.errors.required">यो क्षेत्र अनिवार्य छ!</span>
          <span *ngIf="rateForm.controls.end_aaba_id.errors.pattern">गलत डाटा!</span>
        </mat-error>
      </mat-form-field>
     
      <mat-form-field appearance="outline" class="col">
        <mat-label>स्थानिय प्रकार</mat-label>
        <mat-select formControlName="palika_type_id" >
          @for(item of palika_types;track item)
          {
          <mat-option [value]=item.id>{{item.palika_type_name}}</mat-option>
          }
        </mat-select>
        <mat-error *ngIf="rateForm.controls.palika_type_id.touched && rateForm.controls.palika_type_id.invalid">
          <span *ngIf="rateForm.controls.palika_type_id.errors.required">यो क्षेत्र अनिवार्य छ!</span>
          <span *ngIf="rateForm.controls.palika_type_id.errors.pattern">गलत डाटा!</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col">
        <mat-label>जग्गाको विरह</mat-label>
        <mat-select formControlName="land_type_id" >
          @for(item of land_types;track item)
          {<mat-option [value]=item.id>{{item.land_type_name}}</mat-option>}
        </mat-select>
        <mat-error *ngIf="rateForm.controls.land_type_id.touched && rateForm.controls.land_type_id.invalid">
          <span *ngIf="rateForm.controls.land_type_id.errors.required">यो क्षेत्र अनिवार्य छ!</span>
          <span *ngIf="rateForm.controls.land_type_id.errors.pattern">गलत डाटा!</span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline" class="col">
        <mat-label>जग्गाको प्रकार</mat-label>
        <mat-select formControlName="land_sub_type_id" >
          @for(item of land_sub_types;track item)
          {<mat-option [value]=item.id>{{item.land_sub_type_name}}</mat-option>}
        </mat-select>
        <mat-error *ngIf="rateForm.controls.land_sub_type_id.touched && rateForm.controls.land_sub_type_id.invalid">
          <span *ngIf="rateForm.controls.land_sub_type_id.errors.required">यो क्षेत्र अनिवार्य छ!</span>
          <span *ngIf="rateForm.controls.land_sub_type_id.errors.pattern">गलत डाटा!</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col">
        <mat-label>क्षेत्रफल प्रकार</mat-label>
        <mat-select formControlName="area_type_id" (selectionChange)="areaToUnitRate()">
          @for(item of area_types;track item)
          {<mat-option [value]=item.id>{{item.area_type_name}}</mat-option>}
        </mat-select>
        <mat-error *ngIf="rateForm.controls.area_type_id.touched && rateForm.controls.area_type_id.invalid">
          <span *ngIf="rateForm.controls.area_type_id.errors.required">यो क्षेत्र अनिवार्य छ!</span>
          <span *ngIf="rateForm.controls.area_type_id.errors.pattern">गलत डाटा!</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col">
        <mat-label>दर</mat-label>
        <input matInput formControlName="rate" (keyup)="areaToUnitRate()">
        <mat-error *ngIf="rateForm.controls.rate.touched && rateForm.controls.rate.invalid">
          <span *ngIf="rateForm.controls.rate.errors.required">यो क्षेत्र अनिवार्य छ!</span>
          <span *ngIf="rateForm.controls.rate.errors.pattern">गलत डाटा!</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col">
        <mat-label>प्रति ईकाइ दर</mat-label>
        <input matInput formControlName="unit_rate">
        <mat-error *ngIf="rateForm.controls.unit_rate.touched && rateForm.controls.unit_rate.invalid">
          <span *ngIf="rateForm.controls.unit_rate.errors.required">यो क्षेत्र अनिवार्य छ!</span>
          <span *ngIf="rateForm.controls.unit_rate.errors.pattern">गलत डाटा!</span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col">
        <button class="mybtn" [disabled]="!(rateForm.valid && rateForm.dirty)" class="mybtn" mat-flat-button
          color="primary" (click)="onSubmit()" color="primary">सेभ गर्नुहोस्</button>
      </div>
      <div class="col">
        <button class="mybtn" mat-flat-button color="accent" mat-dialog-close="true">रद्द गर्नुहोस्</button>
      </div>
    </div>
</form>
  </div>