<div class="container">
    <div class="row">
        <mat-toolbar>
            <h1 class="text text-primary">रसिद दर्ता फाराम</h1>
        </mat-toolbar>
    </div>
    <form [formGroup]="tenderForm">
        <div class="row">
            <mat-form-field appearance="outline" class="col">
                <mat-label>आ.व.</mat-label>
                <input matInput type="text" formControlName="aaba_id">
            </mat-form-field>
            <mat-form-field appearance="outline" class="col">
                <mat-label>टेन्डर नं</mat-label>
                <input matInput type="text" formControlName="tender_no">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline" class="col">
                <mat-label>टेन्डर मिति</mat-label>
                <input matInput type="text" formControlName="ndate" placeholder="2080-01-01"
                    pattern="\d{4}-\d{2}-\d{2}" (keyup)="changeDate()">
            </mat-form-field>
            <mat-form-field appearance="outline" class="col">
                <mat-label>महिना</mat-label>
                <input matInput type="text" formControlName="mon">
            </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline" class="col">
                <mat-label>अंग्रेजी मिति</mat-label>
                <input matInput type="text" formControlName="edate" placeholder="2080-01-01"
                    pattern="\d{4}-\d{2}-\d{2}">
            </mat-form-field>
            <mat-form-field appearance="outline" class="col">
                <mat-label>रकम</mat-label>
                <input matInput type="text" formControlName="amount">
            </mat-form-field>
            
            </div>
            
            <div class="row">
            <div class="col">
                <button class="mybtn" [disabled]="!(tenderForm.valid && tenderForm.dirty)" class="mybtn" mat-flat-button
                    color="primary" (click)="onSubmit()" color="primary">सेभ गर्नुहोस्</button>
            </div>
            <div class="col">
                <button class="mybtn" mat-flat-button color="accent" mat-dialog-close="false">रद्द गर्नुहोस्</button>
            </div>
        </div>
    </form>    
</div>