.loginform {
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.mat-mdc-card-content {
    display: flex;
    flex-direction: column;
}

.mat-mdc-raised-button{
    background-color: #3f51b5;
}

.div-50{
    width: 100%;
    text-align: center;
}

.mybtn{
    width: 95%;
}
.eyeicon{
    cursor: pointer;
}