<mat-nav-list>      
    <mat-list-item routerLink="dashdata" role="listitem"><i class="fa fa-home" aria-hidden="true">गृहपृष्ठ</i></mat-list-item>    
    <mat-list-item routerLink="listshresta" role="listitem"><i class="fa fa-file" aria-hidden="true">श्रेष्ता व्यवस्थापन</i></mat-list-item>    
    <mat-list-item routerLink="reports" role="listitem"><i class="fa fa-address-card" aria-hidden="true">रिपोर्ट</i></mat-list-item>
    <mat-list-item routerLink="raitanirates" role="listitem"><i class="fa fa-cog" aria-hidden="true">रैतानी दरहरु</i></mat-list-item>
    <mat-list-item routerLink="adhinastarates" role="listitem"><i class="fa fa-cog" aria-hidden="true">अधिनस्त दरहरु</i></mat-list-item>
    <mat-list-item routerLink="discounts" role="listitem"><i class="fa fa-cog" aria-hidden="true">छुट।जरिवाना हरु</i></mat-list-item>
    <mat-list-item routerLink="locals" role="listitem"><i class="fa fa-cog" aria-hidden="true">स्थानिय तहहरु</i></mat-list-item>
    <mat-list-item routerLink="syncdata" role="listitem"><i class="fa fa-cog" aria-hidden="true">डाटा सिङ्क</i></mat-list-item>
    <mat-list-item (click)="logout()" role="listitem"><i class="fa fa-window-close" aria-hidden="true">लगआउट</i></mat-list-item>
</mat-nav-list>